.card {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
}

.description {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 5px;
}

.fields {
  display: contents;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  justify-content: space-between;
}
